@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply transition-colors duration-300;
    }

    body {
        @apply antialiased bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-50 transition-colors duration-300;
    }
}