@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-gray-50;
  }
}

/* Custom styles if needed */
.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
